<div class="auth-page">
  === {{isSubmitting$|async}} ===
  <div class="container page">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xs-12">
          <h1 class="text-xs-center">Sign up</h1>
          <p class="text-xs-center">
            <a [routerLink]="['/login']">Have an account ?</a>
          </p>
          <app-backend-error-messages
            *ngIf="backendErrors$|async as backendErrors"
            [backendErrors]="backendErrors">
          </app-backend-error-messages>
          <form *ngIf="form" [formGroup]="form" (ngSubmit)="onRegister()">
            <fieldset>

              <fieldset class="form-group">
                <input type="text" class="form-control form-control lg"
                       placeholder="username"
                       formControlName="username">
                <div class="ng-invalid"
                     *ngIf="form.get('username')?.touched && form.get('username')?.invalid">
                  required
                </div>
              </fieldset>
              <fieldset class="form-group">

                <input type="text" class="form-control form-control lg"
                       placeholder="email"
                       formControlName="email">
                <div class="ng-invalid"
                     *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
                  required
                </div>
              </fieldset>

              <fieldset class="form-group">
                <input type="password" class="form-control form-control lg"
                       placeholder="password"
                       formControlName="password">
                <div class="ng-invalid"
                     *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
                  {{'min Length 8'}}
                </div>
              </fieldset>
            </fieldset>
            <button class="btn btn-lg btn-primary pull-xs-right" type="submit">Sign up</button>
          </form>
        </div>
    </div>
  </div>
</div>
